.advantages{
    margin-top: 80px;
    @media only screen and (max-width: 767px) {
        margin-top: 64px;
    }
    h3{
        text-align: center;
        @media only screen and (max-width: 767px) {
            font-size: 20px;
            line-height: 24px;
            text-align: left;   
        }
    }
    .grid{
        margin-top: 40px;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        @media only screen and (max-width: 1439px) {
            grid-template-columns: 1fr 1fr;
        }
        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
    

    .item{
        background: #F5F7F9;
        border-radius: 20px;

        padding: 34px;
        row-gap: 20px;
        display: flex;
        flex-direction: column;
        @media only screen and (max-width: 767px) {
            padding: 16px;  
            border-radius: 12px;
            row-gap: 14px; 
        }
        img{
            margin-bottom: 40px;

            width: 56px;
            height: 56px;
            object-fit: contain;
            @media only screen and (max-width: 767px) {
                margin-bottom: 16px;
                width: 42px;
                height: 42px;
            }
        }
    }

    h4{
        font-size: 20px;
        color: #212121;
        font-family: g-m;
        @media only screen and (max-width: 767px) {
            font-size: 16px;   
        }

    }
    p{
        font-size: 16px;
        color: #4c4c4c;
        @media only screen and (max-width: 767px) {
            font-size: 14px;   
        }
    }
    &.__change{
        h3{
            text-align: left;
            max-width: 768px;
        }
        .text{
            margin-top: 32px;
            font-size: 20px;
            color: #1B1B1B;
            max-width: 700px;
            @media only screen and (max-width: 767px) {
                font-size: 16px;
                margin-top: 16px;
            }
        }
    }

    &.__add-button{
        .button{
            button{
                padding: 16px 0;
                width: 100%;
                font-size: 20px;

                @media only screen and (max-width: 767px) {
                    font-size: 16px;
                    padding: 10px 0;
                }
            }
        }

        .item{
            justify-content: space-between;
        }
    }
}