.benefit{
    margin-top: 80px;
    
    position: relative;
    height: 525px;
    background: #1B1B1B;
    overflow: hidden;

    @media only screen and (max-width: 1023px) {margin-top: 64px;}
    @media only screen and (max-width: 767px) {
        height: auto;
        padding: 42px;
    }
    display: flex;
    align-items: center;
    .background{
        transform: scale(1.3);
        inset: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    
    h3{
        color: #fff;
        text-align: center;
       
    }

    .content{
        position: relative;
        z-index: 1;
    }
    .grid{
        margin-top: 32px;
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        column-gap: 20px;
        row-gap: 20px;
        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;   
        }
    }

    .item{
        padding: 40px 34px;
        border-radius: 20px;
        @media only screen and (max-width: 1023px) {
            padding: 28px 18px;
        }
        background: #fff;

        img{
            width: 100%;
            height: auto;
            object-fit: contain;
            margin: 16px auto 20px;


        }
    }

    h4{
        font-size: 20px;
        color: #212121;
        font-family: g-m;
        @media only screen and (max-width: 1023px) {
            font-size: 18px;
        }
    }
    p{
        font-size: 18px;
        color: #4A4A48;
        @media only screen and (max-width: 1023px) {
            font-size: 16px;
        }
        &:nth-child(1){
            font-family: g-m;
            font-size: 24px;
            color: #1B1B1B;
            span{
                margin-left: 8px;
                font-family: g-m;
                font-size: 64px;
                @media only screen and (max-width: 1023px) {
                    font-size: 32px;
                }
            }
        }
    }


}