.contact{
    margin-top: 80px;
    background: #F5F7F9;
    padding: 100px 0;
    @media only screen and (max-width: 1023px) {margin-top: 64px; padding: 64px 0;}
    position: relative;
    overflow: hidden;
    &.__dark{
        background: #1B1B1B;
        h3,p{
            color: #fff;
        }
        form span{
            color: #fff;
            span{
                color: #EA3838;
            }
        }
    }
    .background{
        // transform: scale(1.3);
        
        
        right: 0px;
        height: 384px;
        position: absolute;
    }

    @media only screen and (max-width: 1023px) {
        margin-top: 60px;
    }

    .content{
        display: grid;
        row-gap: 30px;

        position: relative;
        z-index: 1;
    }
  
    .info{
        display: grid;
        row-gap: 30px;

        p{
            font-size: 20px;
            max-width: 503px;
        }
    }

    form{
        max-width: 670px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
     
        .row{
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 20px;
            column-gap: 20px;
            @media only screen and (max-width: 767px) {
                grid-template-columns: 1fr;   
            }
        }
        .checkbox-control{
            display: flex;
            column-gap: 8px;
            row-gap: 4px;
            align-items: center;
            flex-wrap: wrap;
            span{
                text-wrap: wrap;
            }
            > span {
                margin-top: 0;
            }
        }
        span{
            font-size: 14px;
            line-height: 18px;
            margin-top: 8px;
            font-family: g-m;
            // color: #EA3838;
            span{
                color: #EA3838;
                // font-weight: 600;
            }
            a{
                font-family: g-m;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .button{
            button{
                width: 100%;
                font-size: 16px;
    
                padding: 16px 0;
            }
         }
     }

     .form__group {
         position: relative;
        //  margin-bottom: 20px;
         label{
            color: #666;
            display: block;
            margin-bottom: 8px;
            font-family: g-m;
         }
     }
     
    

     input{
        border-radius: 8px;
        border: 1px solid #CCC;
        background: var(--W-Background, #FFF);
        padding: 16px;
        width: 100%;
        &::placeholder{
            color: #666;
        }
     }
     
    
} 
.checkbox{
    color: #fff;
    display: flex;
    font-size: 14px;
    .checkbox__item{
        margin-top: -14px;
        width: 25px;
        height: 32px;
    }
    // a{
    //     // font-size: 14px;
    //     color: #EA3838;
    //     margin-left: 4px;
    // }
    // @media only screen and (max-width: 1439px){
    //     flex-wrap: wrap;
    //     row-gap: 4px;
    //     a{
    //         margin-left: 0;
    //     }
    // }
    // @media only screen and (max-width: 1023px){
    //     a{
    //         margin-left: 4px;
    //     }
    // }

    input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
                {
                    position: absolute;
                    left: -9999px;
                }

                input[type="checkbox"]:checked + label, 
                input[type="checkbox"]:not(:checked) + label {
                    display: inline-block;
                    position: relative;
                    padding-left: 28px;
                    line-height: 20px;
                    cursor: pointer;
                }

                input[type="checkbox"]:checked + label:before, 
                input[type="checkbox"]:not(:checked) + label:before{
                    content: "";
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: 18px;
                    height: 18px;
                    border: 1px solid #000000;
                    background-color: #ffffff00;
                }

                input[type="checkbox"]:checked + label:before, 
                input[type="checkbox"]:not(:checked) + label:before {
                    border-radius: 2px;
                }



                input[type="checkbox"]:checked + label:after, 
                input[type="checkbox"]:not(:checked) + label:after {
                    content: "";
                    position: absolute;
                    -webkit-transition: all 0.2s ease;
                    -moz-transition: all 0.2s ease;
                    -o-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }

                input[type="checkbox"]:checked + label:after, 
                input[type="checkbox"]:not(:checked) + label:after {
                    left: 4px;
                    top: 5px;
                    width: 10px;
                    height: 5px;
                    border-radius: 1px;
                    border-left: 1px solid #000000;
                    border-bottom: 1px solid #000000;
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }

 

                input[type="checkbox"]:not(:checked) + label:after {
                    opacity: 0;
                }

                input[type="checkbox"]:checked + label:after {
                    opacity: 1;
                }
}    



// PAGES

.contact-pages{
    margin-top: 100px;
    @media only screen and (max-width: 1032px) {
        margin-top: 60px;
    }
    .content{
        column-gap: 54px;
        row-gap: 42px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        @media only screen and (max-width: 1032px) {
            grid-template-columns: 1fr;
        }

    } 
    *{
        font-family: g-m;
    }

    .block{
        display: grid;
        row-gap: 32px;
        @media only screen and (max-width: 1032px) {
            row-gap: 16px;
        }
    }

    .map{
        height: 299px;
        background: #D9D9D9;
        border-radius: 16px;
        @media only screen and (max-width: 1032px) {
            border-radius: 10px;
            height: 250px;
        }
    }
  
}

.changed__one{
    .content{
        display: grid;
        grid-template-columns: 1fr 380px;
        column-gap: 42px;
        row-gap: 42px;
        .img{
            height: 380px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 16px;
            }
        }
        @media only screen and (max-width: 1023px) {
         grid-template-columns: 1fr;   
         .img{
            height: 220px;
         }
        }
    }
} 