.rosreestr-document{
    margin-top: 100px;
    @media only screen and (max-width: 1023px) {margin-top: 64px;}
    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;

        margin-top: 40px;
        @media only screen and (max-width: 1023px) {
            grid-template-columns: 1fr 1fr;
        }
        @media only screen and (max-width: 767px) {
            grid-template-columns: 1fr;
            margin-top: 24px;
        }
        img{
            width: 100%;
            height: 200px;

            object-fit: cover;
            border-radius: 14px;
        }

        h3{
            font-family: g-m;
            font-size: 20px;
        }

        .item{
            display: grid;
            row-gap: 30px;
            @media only screen and (max-width: 767px) {
                row-gap: 16px;
            }
        }

        .button{
            button{
                width: 100%;
                padding: 16px 0;
                @media only screen and (max-width: 767px) {
                    font-size: 16px;
                    padding: 10px 0;
                }
            }
        }
    }
}